.container{
    display: grid;
    grid-template-rows: 1fr 12fr 1fr;
    grid-template-columns: 1fr 1fr 3fr 1fr;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.box{
    border: 5px solid #E091F0;
    border-radius: 10px ;
}
.header{
    font-size: 50px;
    grid-column:1/5;
    text-align: center;
    background-color: #c01efa;
    color: white;

}
.nav{
    grid-row: 2/4;
    grid-column: 2/3;
    margin: 20px;
    background-color: #e091f0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    
}
.display{
    grid-row: 2/4;
    grid-column: 3/4;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.credits{
    font-size:30px;
    grid-column:1/5 ;
    text-align: center;
    background-color: #e091f0;
    color: white;
}
button{
opacity: 1;
    transition: 0.3s;
}
button:hover {opacity: 0.6}